body{
	background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmvxrzsKQGJWhJGMAuZkrhLN0ycwc0orSjkMQpOGE6IxkNWvh6kw');
    background-size: 100%;
}

#selectTurno{
    width: max-content;
}

#tomarTurno{
    justify-content: center;
    align-items: center;
}
