body{
    background-image: url("../imagenes/Fondo_Login_NumerosOnline_2K.jpg");
    background-size: 100%;
    width: 100%;
}

html{
    width: 100%;
}

#carousel-example-1z{
    display: inline-block;
    width: 80%;
    margin-left: 5%;
}

.row{
    margin-top: 10%;
}

#btnIngresar{
    margin-top: 3%;
}

a{
    color: white;
}

a:hover{
    color: white;
}